@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
 
}

body{
    background-image: url('Image/image.png');

    font-family: "Exo 2";
    background-size: contain;
    scroll-behavior: smooth;
}
#pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 33%;
    width: 100%;
}
#pagina2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 100%;
    filter: none;
    margin-top: 350px;
}
#video{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    filter: blur(5px);
    scroll-behavior: smooth;
}

#navbar {
    overflow: hidden;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: 2px;
    font-family: "Exo 2";
    position: fixed;
    top: 0;
    scroll-behavior: smooth;
}

#navbar a {
    color: #F3E8E9;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    background-color: orange;
    padding: 15px 15px;
}

#navbar a:hover {
    background-color:gray;
}

#navbar .ativo {
    color: #F3E8E9;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 15px;
    background-color:#0c1323;
    padding: 15px 15px;
}

.CS2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: orange;
    font-family: "Exo 2";
    font-size: 100px;
    margin-top: 5px;

}

.HOUSE {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0c1323;
    font-family: "Exo 2";
    font-style: italic;
    font-size: 100px;
    padding-right: 15px;
}

.desc {
    font-family: "Exo 2";
    color: white;
    margin-top: 2%;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header{
    background-color: orange;   
    height: 7%;
    text-align: center;
    color: #F3E8E9;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    background-color: orange;
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;

}
#header a{
    text-align: center;
    text-decoration: none;
    color: #F3E8E9;
    background-color: #0c1323;
    padding: 15px;
}
#direitosreservados{
    text-align: center;
    text-decoration: none;
    color: #F3E8E9;
    padding-top: 15px;
}
#header a:hover{
    background-color:gray ;
    padding: 15px;
}
.card1{
    position: absolute;
    display: flex;
    left: 80px;
    flex-direction: column;
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 5px 6px 15px black;
    align-items: center;
    padding: 15px;
    width: 20%;
    transition-property: width, height;
    transition-duration: 1.2s;
    transition-timing-function: ease;
}
.card1:hover{
     width: 30%; 
}
.card2{
    position: absolute;
    display: flex;
    right: 140px;
    flex-direction: column;
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 5px 6px 15px black;
    align-items: center;
    padding: 15px 0px ;
    width: 20%;
    transition-property: width, height;
    transition-duration: 1.2s;
    transition-timing-function: ease;
}
.card2:hover{
    width: 30%;
}

.card3{
    position: absolute;
    display: flex;
    top: 110px;
    left:150px;
    flex-direction: column;
    /* margin-top: 15%;
    margin-bottom: 15%; */
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 5px 6px 15px black;
    align-items: center;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    /* padding-bottom: 25px; */
    width: 11%;
    height: 55%;
    transition-property: width, height, padding-top;
    transition-duration: 1.2s;
    transition-timing-function: ease;
}
.card3 a{
    text-decoration: none;
    color: black;
    font-size: large;
}
.card3 a:hover{
    text-decoration: underline;
}
.card3 h1{
    text-align: center;
}
.card3:hover{
    width: 12%;
    height: 60%;
    padding-top: 30px;
}

.quem img{
    border: #0c1323 1px solid;
    box-shadow: 2px 2px 2px #0c1323;
}
#Quemsoueu{
    font-size: 20px;
    text-align: center;
    padding: 15px 15px 15px 15px;
}

.container2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.porque{
    color: black;
}
.pagina3{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 100%;
    filter: none;
    margin-top: 350px;
}
.card4 a{
    text-decoration: none;
    color: black;
    font-size: large;
}
.card4 a:hover{
    text-decoration: underline;
}
.card4 h1{
    text-align: center;
}
.card4:hover{
    width: 12%;
    height: 65%;
    padding-top: 30px;
}